    /* Seção body */
        body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Trebuchet MS;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: black;
        }
    /* Fim seção body */

    /* Seção botão */
        a{
            position: relative;
            width: 260px;
            height: 80px;
            line-height: 75px;
            background-color: #000;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 4px;
            text-decoration: none;

            -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
        }

        a span::after
        {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, 
            #fb0094, #00f, #0f0, #ff0, #f00);    
            background-size: 400%;
            opacity: 0;
            filter: blur(20px);
            transition: 0.5s;
            animation: animate 20s linear infinite;
        }


        a span::before
        {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: rgba(255,255,255,0.1);
        }


        a::before
        {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, 
            #fb0094, #00f, #0f0, #ff0, #f00);    
            background-size: 400%;
            opacity: 0;
            filter: blur(5px);
            transition: 0.5s;
            animation: animate 20s linear infinite;
        }


        a span{
            position: absolute;
            display: block;
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;
            text-align: center;
            background: #0c0c0c;
            color: rgba(255,255,255,0.2);
            transition: 0.5s;
            z-index: 1;;
        }
        a:hover span{
            color: rgba(255,255,255,1);
        }
        a:hover::before,
        a:hover::after
        {
            opacity: 1;
        }
        @keyframes animate
        {
            0%{
                background-position: 0 0;
            }
            50%{
                background-position: 600% 0;
            }
            100%{
                background-position: 0 0;
            }
        }
    /* Fim seção botão */